:root{
   --bg1: rgb(8, 8, 8);
   --bg2: rgb(23, 23, 23);
   --tc: white;
   --ac: rgb(0, 255, 183);
   /* --ac: #7145e0; */
}
.flex{
   display: flex;
}
.center{
   display: flex;
   align-items: center;
   justify-content: center;
}
.fcol{
   flex-direction: column;
}
.border{
   border: 1px solid var(--ac);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   scroll-behavior: smooth;
   font-style: italic;
   font-family: system-ui, sans-serif;
   color: var(--tc);
}
html{
   overflow-x: hidden;
}
body{
   min-height: 100lvh;
   padding: 0 8vw;
   background-color: var(--bg1);
   color: var(--tc);
}
header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 10vh;
   padding: 0 44px;
   background-color: rgba(0, 0, 0, 0.66);
   backdrop-filter: blur(10px);
   justify-content: space-between;
   align-items: center;
   z-index: 4;
}
header > a{
   text-align: center;
   padding: 8px;
   transition: 0.32s ease-in-out;
}
header > a:hover{
   letter-spacing: 1px;
   transform: scale(1.02);
}
.svg{
   filter: invert(1);
   cursor: pointer;
}
nav{
   padding: 8px;
   gap: 16px;
   font-size: large;
}
nav a{
   border: none;
   text-align: center;
   opacity: 75%;
   border-bottom: 2px solid transparent;
   border-radius: 4px;
   transition: 0.16s ease-in-out;
}
nav a:hover{
   padding: 0 0 4px 0;
   opacity: 100%;
}
nav a:active, 
nav a:focus{
   opacity: 100%;
   color: var(--ac);
   border-bottom: 2px solid var(--ac) ;
}
main{
   /* border: 2px solid blue; */
   padding: 16px;
}
.s1_home{
   height: 70vh;
   padding: 16px;
   gap: 20px;
}
.my_brief_intro{
   /* border: 2px solid red; */
   padding: 16px;
   gap: 16px;
}
.Hey_its_Pravh_i_am_a{
   gap: 8px;
}
.i_am_a{
   font-size: 20px;
}
/* .about_me_in_brief{ } */

.my_img{
   /* border: 2px solid white; */
   height: auto;
   transition: 0.64s ease-in-out;
}
.my_img:hover{
   transform: scale(1.064);
}
.span_text{
   color: var(--ac);
   text-shadow: 0 0 4px var(--ac);
}
.glow{
   text-shadow: 0 0 16px var(--ac);
}
